* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: white;
}

header {
    height: 110px;
    background-color: #0000b4;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    border-bottom: 2px solid white;
}

.headout {
    position: absolute; /* Абсолютное позиционирование для текста */
    z-index: 10; /* Текст будет поверх изображения */
    color: white;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    text-align: left;
    right: 190px;
    top: 50px;
    border: 4px solid white;
    padding: 15px 111px;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    display: inline-block; /* Чтобы ссылка вела себя как блоковый элемент */
    z-index: 10; /* Обеспечиваем, чтобы элемент был поверх изображения */
}

.headout:hover {
    cursor: pointer; /* Добавляем указатель при наведении */
}

header h1 {
    font-size: 24px;
    font-family: 'Dela Gothic One', sans-serif;
    color: white;
}

.main h2 {
    font-size: 40px;
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: bold;
}

.image-container {
    position: relative; /* Позволяет позиционировать заголовок внутри */
    background-size: cover; /* Картинка покрывает всю секцию */
    background-position: center;
    background-size: contain; /* Изображение растягивается, сохраняя пропорции */
    background-repeat: no-repeat; /* Убираем повторение изображения */
    background-position: center; 
}

/* Hero Section with Background Image */
.hero {
    position: relative; /* Позволяет позиционировать элементы внутри */
    background-size: cover; /* Картинка покрывает всю секцию */
    background-position: center;
    background-size: contain; /* Изображение растягивается, сохраняя пропорции */
    background-repeat: no-repeat; /* Убираем повторение изображения */
    background-position: center; 
    height: 805px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero h2 {
    position: absolute; /* Абсолютное позиционирование для текста */
    z-index: 10; /* Текст будет поверх изображения */
    color: white;
    font-size: 40px;
    padding: 0px 0px;
    top: 60px;
    margin-left: 160px;
    font-family: 'Dela Gothic One', sans-serif;
    border-radius: 10px;
    text-align: left;
}

/* Добавляем новый текст под заголовком */
.required-text, .required-text3, .required-text4, .required-text5 {
    position: absolute; /* Абсолютное позиционирование */
    z-index: 10; /* Текст будет поверх изображения */
    font-size: 22px; /* Маленький шрифт */
    color: white; /* Цвет текста */
    margin-left: 160px; /* Смещение по горизонтали */
    font-family: 'DM Sans', sans-serif; /* Шрифт для текста */
}

.required-text{
    top: 115px;
}
.required-text3 {
    top: 155px;
}
.required-text4{
    top: 230px;
}
.required-text5 {
    top: 305px;
}

.required-text2 {
    position: absolute; /* Абсолютное позиционирование */
    z-index: 10; /* Текст будет поверх изображения */
    font-size: 22px; /* Маленький шрифт */
    color: white; /* Цвет текста */
    top: 150px;
    right: 253px;
    font-family: 'DM Sans', sans-serif; /* Шрифт для текста */
}

.info-cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю */
    gap: 10px; /* Отступы между карточками */
    position: absolute; /* Абсолютное позиционирование контейнера */
    top: 200px; /* Убедитесь, что это значение корректно для размещения под логотипом */
    right: 190px; /* Точное позиционирование рядом с логотипом */
    z-index: 10; /* Поверхность элементов */
}

.info-card {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    border: 4px solid white;
    padding: 10px 25px 10px 12px;
    display: flex;
    justify-content: space-between; /* Распределение элементов внутри */
    align-items: center;
    width: 338px; /* Ширина карточки */
}


.info-image {
    width: 23px;
    height: 23px;
    object-fit: cover;
    display: flex
}

.info-text1 {
    font-size: 20px; /* Размер текста */
    color: white; /* Цвет текста */
    margin-left: 12px;
    padding-right: 45px;
    left: 0px;
    font-family: 'Dela Gothic One', sans-serif;
}

.info-text2 {
    font-size: 20px; /* Размер текста */
    color: white; /* Цвет текста */
    margin-right: 30px;
    width: 200px;
    text-align: right;
    font-family: 'DM Sans', sans-serif; /* Шрифт для текста */
}

input[type="text"]{
    position: absolute;
    left: 160px;
    z-index: 10;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 400px;
    height: 32px;
    padding: 0px 10px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

.duration{
    top: 340px;
}

.name{
    top: 200px;
}

.license_plate{
    top: 230px;
}

/* Optional: Ensuring the image fits well in the section */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Затемнение фона, чтобы текст был виднее */
    z-index: 5; /* Затемнение под текстом */
}

/* Contact Section */
.footer {
    background-color: white;
    color: #0000b4;
    padding-bottom: 300px;
    text-align: center;
    font-family: 'Dela Gothic One', sans-serif;
}

.footer h2 {
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 760px;
    padding-bottom: 30px;
    font-size: 48px;
    border-bottom: 3px solid rgb(118, 167, 190);
    text-align: left;
    margin-bottom: 30px;
}

.footer p {
    font-size: 20px;
    text-align: left;
    margin: 0px 160px;
    color: #000000;
}

.footer a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
}
