{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда места у {{ parking.name }}</title> <!-- Заменяем имя парковки -->
    <link rel="stylesheet" href="{% static 'style-second.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="http://127.0.0.1:8000/hello/#" class="headout">
            <div>
                <h1>1830</h1> <!-- Это место не меняем -->
            </div>
        </a>
    </header>

    <main>
        <div class="hero">
            <h2>Аренда места у {{ parking.name }}</h2> <!-- Название парковки -->
            <div class="image-container">
                <img src="{{image_url }}"> <!-- Задний фон (изображение) из data.py -->
            </div>
        </div>

        <section class="info-cards">
            <div class="card">
                <h3>Количество мест</h3>
                <p>{{ parking.sports }}</p> <!-- Количество мест -->
            </div>
            <div class="card">
                <h3>Время открытия</h3>
                <p>{{ parking.open_hour }}:00 </p> <!-- Стоимость -->
            </div>
            <div class="card">
                <h3>Время закрытия</h3>
                <p>{{ parking.close_hour }}:00</p> <!-- Доступ 24/7 -->
            </div>
        </section>


        <div class="footer">
            <h2>Остались вопросы?</h2>
            <p>+79999686720</p> <!-- Контакты остаются статичными -->
            <p><a href="mailto:andrestvlad@gmail.com">andrestvlad@gmail.com</a></p> <!-- Контакты остаются статичными -->
        </div>
    </main>
</body>
</html>
