{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда места у {{ parking.name }}</title>
    <link rel="stylesheet" href="{% static 'style-cart.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="hero">
            <h2>Оформление заказа</h2>
            <p class="required-text">Все поля обязательны для заполнения</p>
            <p class="required-text3">Ваше имя</p>
            <input type="text" id="name" name="name" placeholder="Иванов Иван Иванович" required style="top: 190px;">
            <p class="required-text4">Гос номер ТС</p>
            <input type="text" id="license_plate" name="license_plate" placeholder="Н031НН750" required style="top: 265px;">
            <p class="required-text5">Срок действия абонемента</p>
            <input type="text" id="duration" name="duration" placeholder="ДД.ММ.ГГГГ" required style="top: 340px;">

            <a href="http://127.0.0.1:8000/hello/#" class="headout">
                <div>
                    <h1>1830</h1>
                </div>
            </a>
            <p class="required-text2">Информация о заказе</p>
            

            <!-- Контейнер для карточек с информацией -->
            <div class="info-cards-container">
                {% for part in draft_order.parts %}
                    <div class="info-card">
                        <img src="{{ part.image }}" class="info-image">
                        <span class="info-text1">{{ part.name }}</span>
                        <span class="info-text2">места: {{ part.quantity }}</span>
                    </div>
                {% endfor %}
                
            </div>

            <div class="image-container">
                <img src="{{'http://localhost:9000/mini/images/building4.jpg'}}" alt="Задний фон">
            </div>
        </div>

        <div class="footer">
            <h2>Остались вопросы?</h2>
            <p>+79999686720</p>
            <p><a href="mailto:andrestvlad@gmail.com">andrestvlad@gmail.com</a></p>
        </div>
    </main>
</body>
</html>
